# <h1><font size='18' color='#0122B2'>O problema:</font></h1>

Problema 1...

<h1><font size='18' color='#0122B2'>Coleta de Dados:</font></h1>

Explicação e fonte

In [55]:
#importanto as bibliotecas
import pandas as pd
import seaborn as sns

In [3]:
#capturando os dados
cities_dataframe = pd.read_csv('Data/BRAZIL_CITIES.csv', sep=';')
cities_dataframe

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5568,Xique-Xique,BA,0,45536.0,45536.0,0.0,11637.0,8461.0,3176.0,32497.0,...,3.0,51944373.0,276223306.0,2125.0,5064.0,0.0,NaN,NaN,NaN,2.0
5569,Zabelê,PB,0,2075.0,2075.0,0.0,673.0,489.0,184.0,1469.0,...,NaN,NaN,NaN,87.0,162.0,0.0,NaN,NaN,NaN,NaN
5570,Zacarias,SP,0,2335.0,2335.0,0.0,799.0,638.0,161.0,1836.0,...,NaN,NaN,NaN,901.0,346.0,0.0,NaN,NaN,NaN,1.0
5571,Zé Doca,MA,0,50173.0,50152.0,21.0,11886.0,7611.0,4275.0,30803.0,...,3.0,34835818.0,531526331.0,1725.0,11087.0,0.0,NaN,NaN,NaN,1.0
5572,Zortéa,SC,0,2991.0,2991.0,0.0,1026.0,800.0,226.0,2326.0,...,NaN,NaN,NaN,1077.0,359.0,0.0,NaN,NaN,NaN,1.0

In [4]:
#Tratando os dados
cities_dataframe.fillna(0, inplace=True)
bolean_dict = {0:False,1:True}
cities_dataframe['CAPITAL'].replace(bolean_dict,inplace=True)
cities_dataframe['UBER'].replace(bolean_dict,inplace=True)

In [5]:
cities_dataframe

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,False,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,0.0,0.0,0.0,2158.0,1246.0,0.0,False,0.0,0.0,1.0
1,Abadia Dos Dourados,MG,False,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,0.0,0.0,0.0,2227.0,1142.0,0.0,False,0.0,0.0,1.0
2,Abadiânia,GO,False,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,False,0.0,0.0,3.0
3,Abaeté,MG,False,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,False,0.0,0.0,4.0
4,Abaetetuba,PA,False,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,False,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5568,Xique-Xique,BA,False,45536.0,45536.0,0.0,11637.0,8461.0,3176.0,32497.0,...,3.0,51944373.0,276223306.0,2125.0,5064.0,0.0,False,0.0,0.0,2.0
5569,Zabelê,PB,False,2075.0,2075.0,0.0,673.0,489.0,184.0,1469.0,...,0.0,0.0,0.0,87.0,162.0,0.0,False,0.0,0.0,0.0
5570,Zacarias,SP,False,2335.0,2335.0,0.0,799.0,638.0,161.0,1836.0,...,0.0,0.0,0.0,901.0,346.0,0.0,False,0.0,0.0,1.0
5571,Zé Doca,MA,False,50173.0,50152.0,21.0,11886.0,7611.0,4275.0,30803.0,...,3.0,34835818.0,531526331.0,1725.0,11087.0,0.0,False,0.0,0.0,1.0
5572,Zortéa,SC,False,2991.0,2991.0,0.0,1026.0,800.0,226.0,2326.0,...,0.0,0.0,0.0,1077.0,359.0,0.0,False,0.0,0.0,1.0

<h1><font size='18' color='#0122B2'>Analise dos Dados:</font></h1>

In [35]:
#Criando um dataframe de dados por estado
states = cities_dataframe['STATE'].unique()
state_dataframe = pd.DataFrame()
state_dataframe['STATE'] = states

In [39]:
#Descobrindo a quantidade de cidades em cada estado
states = cities_dataframe['STATE'].unique()
qty_cities = []
for state in states:
    qty_cities.append(len(cities_dataframe['CITY'][cities_dataframe['STATE']== state]))
state_dataframe['QTY_CITIES'] = qty_cities

In [45]:
#Descobrindo a distribuição populacional por estado
total_population = []
for state in states:
 total_population.append(cities_dataframe[['CITY','IBGE_RES_POP']][cities_dataframe['STATE'] == state].sum()[-1])
state_dataframe['TOTAL_POPULATION'] = total_population

In [54]:
#Descobrindo o percentual de cidades e de população
state_dataframe['%CITIES']=round((state_dataframe['QTY_CITIES']/state_dataframe['QTY_CITIES'].sum())*100,2)
state_dataframe['%POPULATION'] = round((state_dataframe['TOTAL_POPULATION']/state_dataframe['TOTAL_POPULATION'].sum())*100,2)
state_dataframe

   STATE  QTY_CITIES  TOTAL_POPULATION  %CITIES  %POPULATION
0     GO         246         6003788.0     4.41         3.15
1     MG         853        19597330.0    15.31        10.27
2     PA         144         7581051.0     2.58         3.97
3     CE         184         8452381.0     3.30         4.43
4     BA         418        14016906.0     7.50         7.35
5     PR         399        10444526.0     7.16         5.48
6     SC         295         6248436.0     5.29         3.28
7     PE         186         8796448.0     3.34         4.61
8     TO         139         1383445.0     2.49         0.73
9     MA         217         6574789.0     3.89         3.45
10    RN         167         3168027.0     3.00         1.66
11    PI         224         3118360.0     4.02         1.63
12    RS         498        10693929.0     8.94         5.61
13    MT         141         3035122.0     2.53         1.59
14    AC          22          733559.0     0.39         0.38
15    SP         645        41262199.0    11.57        21.63
16    ES          78         3514952.0     1.40         1.84
17    AL         102         3120494.0     1.83         1.64
18    PB         223         3766528.0     4.00         1.97
19    MS          79         2449024.0     1.42         1.28
20    RO          52         1562409.0     0.93         0.82
21    RR          15          450479.0     0.27         0.24
22    AM          62         3483985.0     1.11         1.83
23    AP          16          669526.0     0.29         0.35
24    SE          75         2068017.0     1.35         1.08
25    RJ          92        15989929.0     1.65         8.38
26    DF           1         2570160.0     0.02         1.35

<h1><font size='18' color='#0122B2'>Resultados:</font></h1>